* {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/*CSS Lib*/
.container {
  margin-left: 5%;
  margin-right: 5%;

}

.f_right {
  float: right;
}

.down_arrow {
  font-size: .5em;
}






/*Changing defaults*/
hr {
  margin: 0;
  color: lightgray;
}

/*Nav Bar*/
nav {
  border-bottom: solid gray 1px;
  padding: 1em 0 1em 0;
}

nav ul li {
  display: inline;
  color: #525252;
  padding: .5em;
}

nav ul li:hover {
  background-color: #175384;
  color: white;
}

nav ul li:hover .dropdown{
  display: block;

}

.dropdown {
  display: none;
  position: absolute;
  background-color: #175384;
  min-width: 200px;
}

.dropdown a {
  display: block;
  text-decoration: none;
  padding: 5px 8px;
  font-size: .9em;
  color: white;
}

nav ul {
  list-style-type: none;
}


/*Nav Search */
.search_bar {
  float: right;
  margin-top: -1.2em;
}

.search_bar input {
  height: 24px;
  width: 200px;
  border-radius: .3em 0 0 .3em;
  float: left
}

.search_bar button {
  height: 30px;
  width: 80px;
  margin-left: -5px;
  border-radius: 0 .3em .3em 0;
  background-color: #175384;
  color: white;
  float: left
}


/*Main content CSS*/
.main {
  width: 100%;
}



/*Products*/
.products {
  float: left;
  width: 65%;
}

.each_product {
  display: block;
  float: left;
  margin-top: 30px;
  border-bottom: 1px lightgray solid;
  padding-right: 10px;
}

.each_product div p {
  margin: .2em 0 .2em 0;
}

.each_product div h4 {
  margin: .7em 0 .7em 0;
}

.each_product div a {
   text-decoration: none;
}

.product_img {
  width: 30%;
  padding: .3em;
  float: left;
  border: lightgray solid 1px;
  margin-top: .5em;
}

.item_title {
  margin-top: 0;
  margin-bottom: .5em;
}

.desc_item {
  float: right;
  width: 65%;
}

.item_title {
  color: rgb(0, 54, 113);
}

.top_border_gray {
  border-top: lightgray solid 1px;
}


/*Right panel*/
.ads {
  width: 30%;
  float: right;
  border-left: lightgray solid 1px;
  margin-top: 30px;

}

.ads img {
  display: block;
  margin: 0 0 10px auto;
  width: 90%;
}