.container {
  margin: 1em;
}

nav {
  border-bottom: solid gray .1em;
  padding: 1em 0 1em 0;
}

nav ul li {
  margin-right: 20px;
  display: inline;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.down_arrow {
  font-size: .5em;
}

.ads {
  border-left: solid gray .1em;
  float: right;
  width: 30%;


}

.products {
  float: left;
  display: block;
  width: 60%;
}

.product_img {
  width: 30%;
  padding: .5em;
  background-color: blue;
  float: left;
}

.desc_item {
  float: right;
  width: 65%;
}

.item_title {
  color: rgb(0, 54, 113);
}

.f_right {
  float: right;
}
